.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.topbarLeft{
    flex: 3;
}
.topbarCenter{
    flex: 5;
}


.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}
.searchbar{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 30px;
    width: 100%;
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput{
    border: none;
    outline: none;
    width: 70%;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.topbarLink{
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}
.topbarIcons{
    display: flex;
    align-items: center;
}
.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: 12px;
}

.topbarImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}